.share {
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: #fff;

	.share-wrap {
		box-sizing: border-box;
		overflow: hidden;
		width: 100%;
		min-height: 100vh;
		padding: .3rem;
		
		p {
			font-size: .32rem;
			color: #333;
			margin-bottom: .15rem;

			&.important {
				color: #ff6666;
			}
		}
	}

	.share-btn {
		width: 85%;
		margin: .2rem auto .4rem;
		border: 1px solid #ff6666;
		border-radius: .1rem;
		padding: 0 .6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		font-size: .36rem;
		color: #ff6666;
		
		.share-btn__img {
			width: .85rem;
			height: .85rem;
			overflow: hidden;
			position: relative;

			img {
				height: 100%;
				margin: 0 auto;
			}
		}

		
	}

	.share-bottom {
		padding: .3rem 0 .1rem;
		width: 85%;
		margin: 0 auto;
		overflow: hidden;

		.share-bottom__tip {
			display: flex;

			.share-bottom__left {
				width: 1.2rem;
				overflow: hidden;

				img {
					width: 110%;
					margin: 0 auto;
					transform: rotateZ(-180deg);
				}
			}

			.share-bottom__right {
				flex: 1;
				font-size: 13px;
				line-height: 1.5;
			}
		}

		.share-bottom__btn {
			width: 100%;
			background: #ff6666;
			padding: .3rem 0;
			border-radius: .1rem;
			margin-top: .3rem;
			text-align: center;
			color: #fff;
		}
	}
}

.share-mask {
	width: 100%;
	height: 100vh;
	position: fixed;
	box-sizing: border-box;
	padding: .3rem 0 .5rem;
	top: 0;
	left: 0;
	z-index: 999;
	background: rgba(0, 0, 0, .8);
	display: flex;
	overflow: hidden;
	flex-direction: column;
	
	p {
		color: #fff;
	}

	.share-mask__top, .share-mask__middle {
		flex: 1;
		overflow: hidden;
	}

	.share-mask__top {
		text-align: right;

		img {
			display: inline-block;
			width: 1.8rem;
		}

		p {
			text-align: right;
			padding-right: 1.6rem;
		}
	}

	.share-mask__middle {
		padding-left: .6rem;
		position: relative;

		img {
			margin-top: .1rem;
			width: 3.5rem;
		}

		.mask-middle__circle {
			margin: 0;
			position: absolute;
			width: 1.6rem;
			top: .75rem;
			left: 1.55rem;
		}
	}

	.share-mask__bottom {
		flex: 2;
		overflow: hidden;
		padding-right: .6rem;
		text-align: right;

		p {
			text-align: right;
		}

		img {
			margin-top: .1rem;
			display: inline-block;
			width: 2.7rem;
		}
	}
}